.header {
    display: flex;
    justify-content: space-between;
}

.content-1 {
    display: flex;
}

.content-2 {
    display: flex;
}

.content-3 {
    display: flex;
}

.footer {
    display: flex;
}